body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  padding: 40px;
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.15);
}

.left-side {
  width: 370px;
  background-color: #1e2939;
  color: #fff;
}

.right-side {
  width: 830px;
  padding-left: 80px;
  padding-right: 100px;
  padding-top: 68px;
  /* padding-bottom: 68px; */
}

/* #left-side */
.photo {
  margin-bottom: 34px;
}

.contacts,
.skills {
  margin-bottom: 52px;
}

.contacts,
.skills {
  padding-left: 40px;
}

.contacts-title,
.skills-title {
  font-size: 22px;
  line-height: 24px;
  /* color: #fff; */
}

.contacts-list {
  padding-left: 0;
  list-style: none;
}

.contacts-item {
  font-size: 14px;
  line-height: 24px;
  /* color: #fff; */
}

.contacts-link {
  color: #fff;
  opacity: 0.6;
  margin-left: 10px;
}

.contacts-link:hover {
  opacity: 1;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-item {
  font-size: 14px;
  color: #fff;
}

.skills-item::before {
  margin-right: 8px;
  content: "\2022";
  color: #ff6b08;
  font-size: 18px;
}

/* #right-side */

.translate-button {
  background: #1e2939;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 3px;
  float: right;
}

.bio,
.projects {
  margin-bottom: 48px;
}

.jobs,
.education {
  margin-bottom: 54px;
}

.jobs-title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;

  margin-bottom: 20px;
}

.jobs-time,
.education-time {
  color: #828282;
  font-size: 12px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 10px;
}

.experience-item {
  color: #595959;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 7px;
}

/* #bio */
.bio-title {
  margin: -20px 0px 0px 0px;
  font-size: 45px;
  line-height: 1.978;
  font-weight: bold;
}

.bio-title,
.bio-occupation {
  color: #2a2a2a;
}

.bio-occupation {
  margin-top: 0;
  margin-bottom: 38px;
  font-weight: bold;
  font-size: 22px;
}

.bio-about {
  font-size: 14px;
  line-height: 1.714;
}

.bio-about {
  color: #595959;
  margin-bottom: 0;
}

/* #project */

.projects-title {
  margin-bottom: 14px;
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;
}

.projects-list {
  padding-left: 18px;
}

.projects-link {
  color: #220fdc;
  font-size: 14px;
  line-height: 1.714;
}

.projects-link:hover {
  color: #ff6b08;
}

/* #jobs */

.jobs-title,
.education-title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.jobs-occupation,
.education-degree {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.experience {
  margin-top: 0;
  margin-bottom: 28px;
  padding-left: 14px;
}

/* #common */

.accent {
  color: #ff6b08;
}

/* animation */

.photo:hover {
  animation: swing 1s;
  transform-origin: center;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
  color: #2a2a2a;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.8);
}

/* Number text (1/4 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px 20px 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
